@font-face {
    font-family: IRANYekan;
    font-style: light;
    font-weight: 300;
    src: url("../fonts/IRANYekanLight.woff") format("woff");
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IRANYekanRegular.woff") format("woff");
}
@font-face {
    font-family: IRANYekan;
    font-style: bold;
    font-weight: 800;
    src: url("../fonts/IRANYekanBold.woff") format("woff");
}

